# --- Build's files ---------------------------------------------------------
_extensions/
results/
.snakemake
.docker_built
data/processed

# --- Other -----------------------------------------------------------------
**/.DS_Store
